html{
    font-size: 62.5%;
}

body {
    background-color: #7B9669;
    color: white;
    font-family: 'Radio Canada Big', sans-serif;    
}

a {
    text-decoration: none;
    color: white;

}

header {
    display: grid;    
    justify-content: end;
    align-items: center;
    margin: 2.5rem 4.5rem 4rem 0rem;
    
}

nav{
    display: flex;
    column-gap:2.5rem;
    font-size: 2.8rem;
    font-weight: bold;
    align-items: center;
}
.nav-img-div{
    margin: 0rem;
    padding: 0rem;
    max-width: auto;
    width: 5.8rem;
    height:5.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-text{
    margin:0rem;
    padding: 0rem;
}

.nav-icon{
    max-width: 100%;
    height:auto;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0rem 10rem 0px 10rem; /* side margins */
}
.hero-greeting{
    display: grid;
    margin-left: 10rem;
}

.hero-img-container{
    display:flex;
    align-self: center;
    justify-content: center;
    padding-top: 5rem;
    height: auto;
    width: 100%;
}

.greet-spacing{
    padding: 0rem;
    margin: 0rem;
    line-height: 1;
}

.about-desc{
    font-weight: normal;
    font-size: 3.2rem;
}

.hello-im{
    color: #404e3b;
    font-size: 6.4rem;
}

.christina{
    font-size: 9.6rem;
}

.maribbay{
    font-size: 9.6rem;
    margin-left: 20rem;
}

.hero-img{
    display: block;
    width:46.4rem;
    height: 65.3rem;
    object-fit: cover;
}

.projects{
    margin: 20rem;
}

.projects-header{
    font-size: 9.6rem;
    color:#404e3b;
}

.carousel-container{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    gap: 1rem;
}

.carousel-card{
    display: flex;
    flex-direction: column;
    background-color: #BAC8B1;
    border-radius: 2.5rem;
    padding: 1.5px 5rem 4rem 4rem;
    width: 30rem;
}

.project-name{
    color:#404e3b;
    font-size: 4rem;
    margin-bottom: 0rem;
}

.project-desc{
    color:#404E3B;
    opacity: 0.75;
    font-size: 3rem;
}

.project-tools{
    list-style: none;
    padding-inline-start: 0rem;
    display: flex;
    gap: 0.8rem;
    flex-wrap: wrap;
}

.tools-list-item{
    display: flex;
    margin: 0rem;
    padding: 0rem;
}

.tool{
    border: 2px solid #7B9669;
    border-radius: 2.5rem;
    padding: 0.8rem;
    color:#7B9669;
    font-size: 2.4rem;
    margin: 0rem;  
}


.contact{
    margin: 20rem;
}

.contact-text{
    font-size: 3.2rem;
}
.contact-anchor{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    align-items: center;
}
.contact-info{
    margin: 0rem;
    padding: 0rem;
    font-size: 3.2rem;
    align-self: start;
}
.contact-icon-container{
    width: 6rem;
    height: 6rem;
    border: 0.2rem solid #BAC8B1;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-icon{
    width: 3.5rem;
    height: auto;
}
.contact-header{
    font-size: 9.6rem;
    color:#404e3b;
    padding: 0rem;
    margin: 0rem;
}

.contact-lines{
    display: grid;
    align-items: center;
}


@media (max-width: 100rem) {
    html{
        font-size: 50%
    }
}

@media (max-width: 75rem){
    html{
        font-size: 45%
    }
}

@media (max-width: 65rem){
    html{
        font-size: 40%
    }
}

@media (max-width: 60rem){
    html{
        font-size: 35%
    }
    /*stack greeting*/
}

@media (max-width: 55rem){
    html{
        font-size: 30%
    }
}

@media(max-width: 32rem){
    html{
        font-size: 25%
    }
}